{% extends 'TravelAdvisorBundle::layout.html.twig' %}

{% block title %}Bienvenue sur TravelAdvisor {{ app.request.get('votreprenom') }} {% endblock%}

{% block body %}
            <body>

            </body>
            {% endblock %}
